@media (max-width: 900px) {
    .totalbody {
        padding: 1rem;
    }

    /*header start */

    .nav-list{
        display: none;
    }

    .menu-icon i{
        display: block;
    }
    /*header end*/

    /*filtering start here*/
    .contain{
        display: flex;
    }
    .contain h1{
        font-size: 30px;

    }

    .search-bar{
        display: flex;
        flex-direction: column;
        gap:20px;
        justify-content: center;
        align-items: center;
    }

    #for-find{
        width: 50vw;
        height: 60px;
        border-radius: 10px;
        text-align: left;
        padding: 5px;
        color: black;
        font-weight: bold;
    }
    

    #section-type{
        width: calc(50vw + 11px);
        height: 60px;
        border-radius: 10px;
        text-align: left;
        padding: 5px;
        color: black;
        font-weight: bold;
        font-size: 20px;
    }

    #schedule{
        width: calc(50vw + 11px);
        height: 60px;
        border-radius: 10px;
        text-align: left;
        padding: 5px;
        color: black;
        font-weight: bold;
        font-size: 20px;
    }

    #search{
        height: 55px;
        font-weight: bold;
        font-size: 25px;
        border-radius: 10px;
        width: 150px;
        border-radius: 10px;
        background-color: orangered;
    }
    /*filtering end*/
    
    /*popular tours start*/
    .popular-tours { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.5rem;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        background-image: url(/Images/Rectangle\ 4.png);
        background-size: cover;
        border-radius: 30px;
        background-color: coral;
        height: 541.8px;
    }

    /*popular tours end*/

    /*grid-destination start*/
    .grid-destination {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto; 
        gap: 20px;
        height: auto; 
    }

    .maldive,
    .indonesia,
    .srilanka,
    .n-america,
    .kashmir,
    .bangladesh,
    .bandarban {
        grid-column: auto; 
        grid-row: auto; 
        width: 100%; 
        height: 300px;
    }

    .img p {
        font-size: 30px;
    }

    /*grid-destination end*/

    /*grid-choose start*/
    .choose {
        height: auto;
    }

    .grid-choose {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto; 
        gap: 20px;
        height: auto; 
        width: 100%;
        margin-top: 20px;
    }

    .logoimage{
        width: 50px;
        height: 50px;
        background-size: cover;
    }
    
    .leftside,
    .rightside,
    .bottommside {
        grid-column: auto; 
        grid-row: auto; 
        width: 100%; 
        height: calc(41vh + 10px);
    }
    
    .leftside p{
        font-size: 1.2rem;
    }
    .rightside p{
        font-size: 1.2rem;
    }
    .bottommside p{
        font-size: 1.2rem;
    }

    /*grid-choose end*/

    /*Deals & Discounts start*/
    .about-deals h1 {
        font-size:2.5rem;
    }

    .about-deals p {
        font-size: 1.2rem;
    }

    #image1 {
        display: flex;
        padding: 100px;
        height: auto;
        width: 95vw;
        justify-content: center;
        align-content: center;
    }

    #image2 {
        display: flex;
        padding: 100px;
        height: auto;
        width: 95vw;
        justify-content: center;
        align-content: center;
    }

    .img-child ul {
        display: block;
    }

    .img-child {
        padding:10vw;
    }

    #all-package button{
        width: 200px;
        height: 80px;
        background-color: orangered;
        font-size: 20px;
        color: white;
        border-radius: 15px;
    }

    .Simple-Perfect {
        display: block;
    }
    .Simple-Perfect .left{
        width: 100%;
        height: auto;
    }

    /*Deals & Discounts end*/

    /*newsletter-container start*/
    .newsletter-container {
        display: block;
        /* height: auto; */
    }

    .subscribe-container-left {
        width: 100%;
    }

    .subscribe-containe-right {
        width: 100%;
        margin-top: 20px;
    }

    .inside-of-right {
        display: flex;
        width: 50%;
        height: 18%;

    }

    .inside-of-right a {
        font-size: 4.5vw;
    }
    
    .inside-of-right p {
        color: white;
        font-size: 4vw;
    }
    /*newsletter-container end*/

    /*footer start*/
    #foter-logo p{
        font-size: 2.5rem;
    }

    #mid-text {
        font-size: 0.9rem;
    }
    
    #last-foter {
        font-size: 0.8rem;
    }
    /*footer end*/
}
 
@media (max-height: 700px){

    .grid-choose {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto; 
        gap: 50px;
        height: auto; 
        width: 100%;
        margin-top: 20px;
    }
    .leftside,
    .rightside,
    .bottommside {
        grid-column: auto; 
        grid-row: auto; 
        width: 100%; 
        height: calc(51vh + 10px);
    }
}
